<div class="row">

  <div class="col-md-6">
      <div class="container-native text-center">
          <h1 class="heading-none text-center">Componente pai (Native)</h1>
          <i class="fas fa-jedi jedicon"></i>
        </div>
    <app-form-um></app-form-um>
  </div>
  <div class="col-md-6">
    <div class="containerShadow gradient text-center">
      <h1 class="heading-none text-center">Componente pai</h1>
      <i class="fas fa-jedi jedicon"></i>
    </div>
    <app-form-dois></app-form-dois>
  </div>


</div>