/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

.heading-none{
    font-family: 'Oswald', sans-serif;
  }

  body{
    background-color: #a48ef9;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }